In [1]:
from sqlalchemy import create_engine
import mysql.connector as conn

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)   # mostrar todas las columnas del df

In [8]:
actor_ori=pd.read_csv('data_limpio/actor.csv')
actor=actor_ori.copy()
category_ori=pd.read_csv('data_limpio/category.csv')
category=category_ori.copy()
film_ori=pd.read_csv('data_limpio/film.csv')
film=film_ori.copy()
inventory_ori=pd.read_csv('data_limpio/inventory.csv')
inventory=inventory_ori.copy()
language_ori=pd.read_csv('data_limpio/language.csv')
language=language_ori.copy()
old_ori=pd.read_csv('data_limpio/old_HDD.csv')
old=old_ori.copy()
rental_ori=pd.read_csv('data_limpio/rental.csv')
rental=rental_ori.copy()

# CREACIÓN BASE DE DATOS

In [3]:
str_conn='mysql+pymysql://root:1234@localhost:3306'

cursor=create_engine(str_conn)


cursor.execute('drop database if exists cine;')

cursor.execute('create database cine;')

In [2]:
str_conn='mysql+pymysql://root:1234@localhost:3306/cine'

cursor=create_engine(str_conn)

In [8]:
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)
category.to_sql(name='category', con=cursor, if_exists='replace', index=False)
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)
old.to_sql(name='old', con=cursor, if_exists='replace', index=False)
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

1000

# RELACIONES Y KEYS

In [9]:
query = 'alter table actor add primary key (actor_id);'
cursor.execute(query)

In [10]:
query = 'alter table category add primary key (category_id);'
cursor.execute(query)

In [11]:
query = 'alter table film add primary key (film_id);'
cursor.execute(query)

In [12]:
query = 'alter table inventory add primary key (inventory_id);'
cursor.execute(query)

In [13]:
query = 'alter table language add primary key (language_id);'
cursor.execute(query)

In [14]:
query = 'alter table rental add primary key (rental_id);'
cursor.execute(query)

In [31]:
query='ALTER TABLE old ADD FOREIGN KEY (actor_id) REFERENCES actor(actor_id);' # esto añade relación

cursor.execute(query)

In [32]:
query='ALTER TABLE old ADD FOREIGN KEY (category_id) REFERENCES category(category_id);' # esto añade relación

cursor.execute(query)

In [34]:
query='ALTER TABLE old ADD FOREIGN KEY (film_id) REFERENCES film(film_id);' # esto añade relación

cursor.execute(query)

In [ ]:
query='ALTER TABLE film ADD FOREIGN KEY (language_id) REFERENCES language(language_id);' # esto añade relación

cursor.execute(query)

In [36]:
query='ALTER TABLE inventory ADD FOREIGN KEY (film_id) REFERENCES film(film_id);' # esto añade relación

cursor.execute(query)

In [6]:
cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

In [7]:
query='alter table rental add foreign key (inventory_id) references inventory(inventory_id);' # esto añade relación

cursor.execute(query)

# TABLAS STAFF, CUSTOMER Y STORE

In [9]:
rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

In [10]:
inventory.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [11]:
inventory.store_id.value_counts() # PARA LA COLUMNA STORE SOLO HABRÁ 2 TIENDAS

1    503
2    497
Name: store_id, dtype: int64

In [12]:
rental.customer_id.value_counts() # MUCHOS CLIENTES, METEREMOS UNOS POCOS

197    8
245    6
596    6
274    6
371    6
      ..
574    1
525    1
529    1
565    1
389    1
Name: customer_id, Length: 485, dtype: int64

In [13]:
rental.staff_id.value_counts() #DOS EMPLEADOS, UNO POR TIENDA

2    521
1    479
Name: staff_id, dtype: int64

In [14]:
query='''create table store(
            store_id bigint primary key not null,
            longitude double,
            latitude double);
'''
cursor.execute(query)

In [17]:
query='''create table customer(
            customer_id bigint primary key not null,
            full_name varchar(100));
'''
cursor.execute(query)

In [16]:
query='''create table staff(
            staff_id bigint primary key not null,
            full_name varchar(100),
            store_id bigint);
'''
cursor.execute(query)

In [18]:
query='alter table inventory add foreign key (store_id) references store(store_id);' # esto añade relación

cursor.execute(query)

In [19]:
query='alter table staff add foreign key (store_id) references store(store_id);' # esto añade relación

cursor.execute(query)

In [20]:
query='alter table rental add foreign key (staff_id) references staff(staff_id);' # esto añade relación

cursor.execute(query)

In [21]:
query='alter table rental add foreign key (customer_id) references customer(customer_id);' # esto añade relación

cursor.execute(query)

# RELLENAMOS LAS COLUMNAS NUEVAS

In [23]:
query='insert into staff values(1, "LORENZO DOUGLAS", 2), (2, "ZOE MAGUIRE", 1)'

cursor.execute(query)

In [24]:
query='insert into store values(1, -3.668627, 40.4203765), (2, -3.661894127260325, 40.42912477276823)'

cursor.execute(query)

In [25]:
query='insert into customer values(245, "ALFREDO GARCÍA"), (371, "ALBA CONTE"), (389, "MARCELO VITALA"), (525, "PEPE REINA")'

cursor.execute(query)